PARSER_PRIMARY.ENV="local"

PARSER_SERVER.PORT="5555"
PARSER_SERVER.READ_TIMEOUT="30"
PARSER_SERVER.WRITE_TIMEOUT="30"
PARSER_SERVER.IDLE_TIMEOUT="60"
PARSER_SERVER.CORS_ALLOWED_ORIGINS= "http://localhost:5173"

PARSER_DATABASE.HOST=""
PARSER_DATABASE.PORT=""
PARSER_DATABASE.USER=""
PARSER_DATABASE.PASSWORD=""
PARSER_DATABASE.NAME=""
PARSER_DATABASE.SSL_MODE="disable"
PARSER_DATABASE.MAX_OPEN_CONNS="25"
PARSER_DATABASE.MAX_IDLE_CONNS="25"
PARSER_DATABASE.CONN_MAX_LIFETIME="300"
PARSER_DATABASE.CONN_MAX_IDLE_TIME="300"

PARSER_SECURITY.SECRET_KEY="0123456789ABCDEF0123456789ABCDEF"

